@model FinalProj.UI.MVC.Models.LoginViewModel
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active" style="background-image: url(../../Content/assets/img/slide/slide-1.jpg)"></div>

            <div class="carousel-item" style="background-image: url(../../Content/assets/img/slide/slide-2.jpg)"></div>

            <div class="carousel-item" style="background-image: url(../../Content/assets/img/slide/slide-3.jpg)"></div>

            <div class="carousel-container">

                @Html.Partial("_Login")
            </div>
        </div>
    </div>
</section><!-- End Hero -->
