@using Microsoft.AspNet.Identity
@using FinalProj.DATA
@if (Request.IsAuthenticated)
{
    string userId = User.Identity.GetUserId();
    string name = new LMSEntities().UserDetails.Where(u => u.UserId == userId).FirstOrDefault().FirstName;
    if (name == null)
    {
        name = "Friend";
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul>
            <li>
                @Html.ActionLink("Hello " + name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}