body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.mainContent {
    padding: 82px 5% 1% 5%;
    min-height: 85vh;
}

.complete {
    background-color: rgba(59, 170, 12, 0.45);
    color: azure;
}

.lesson > td {
    padding-left: 2rem !important;
}

.complete-course {
    display: none;
}

.progBar {
    margin: auto;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 5px rgb(128, 128, 128) inset;
    border-radius: 5px;
    padding: 0;
}

.studProg {
    height: 100%;
    border-radius: 5px;
    background-color: rgba(59, 170, 12, 0.65);
    width: 1%;
}

.autoMargin {
    margin: auto;
}


/* This css is only applied when fullscreen is active. */
.player:fullscreen {
    max-width: none;
    width: 100%;
    margin: unset;
}

.player:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.player {
    position: relative;
    max-width: 1400px;
    margin: auto;
}

.player__video {
    width: 100%;
}

.player__button {
    height: 99.3%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

    .player__button:focus {
        border-color: #55cae4;
    }

#play__button {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 0 35px 0 35px;
    border-color: transparent rgb(204,204,204);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pause__button {
}

/*.play__button.activePause:hover .player__button.activePause:hover*/ .player:hover #play__button{
    display: unset;
    border-width: 50px 0 50px 100px;
}




.player__slider {
    width: 10px;
    height: 30px;
}

.player__controls {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.6);
}


.playerButtons {
    padding: 1%;
    color: rgb(204, 204, 204);
    display: none;
}

    .playerButtons > * {
        padding: .5%;
    }

.player:hover .playerButtons{
    display: unset;
}

.player:hover .player__controls {
    /*transform: translateY(0);*/
    display: unset;
}

.player:hover .progress {
    height: 20px;
    transform: translate(0 -20px)
}

.player__controls > * {
    flex: 1;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 10px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    border-radius: unset;
    bottom: 0px;

}

.progress__filled {
    width: 0%;
    background: #55cae4;
    flex: 0;
}

.videoTitle{
    float: left;
    margin-bottom: auto;
    padding-left: 2%;

}

.volume {
    max-width: 30%;
    display: flex;
    float: right;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: rgba(255,255,255,0.8);
        border-radius: 1.3px;
        border: 0.2px solid rgba(1, 1, 1, 0);
    }

    input[type=range]::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: rgb(204, 204, 204);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.5px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #55cae4;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: rgb(204, 204, 204);
        border-radius: 1.3px;
        border: 0.2px solid rgba(1, 1, 1, 0);
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: rgb(204, 204, 204);
        cursor: pointer;
    }

#loginForm {
    top: 20%;
    left: 15%;
    position: absolute;
    width: 30%;
    min-width: 250px;
}
